
   <div class="imageBox">
    <%= link_to gallery_picture_path(@gallery, @picture) do %> 
    
      <%= image_tag @picture.image.url if @picture.image_stored? %> 
      <% end %>
      </div>

     