// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {

}


.ImageCenter {
  width:1000px;
  margin:0 auto;
  margin-top: 60px;

  img {
    max-width:500px;
    float:left;
  }

  

}

.arrows {
  display:inline-block;
  margin-top: 30px;
}

.image-title {
  text-transform:uppercase;
  font-size:24px;
}