// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav ul {
	list-style: none;
	font-family: sans-serif;
}

nav ul li {
	display: inline-block;
	cursor: pointer;
	-webkit-transition: linear 0.3s;
	transition: linear 0.3s;
	-moz-transition: linear  0.3s;
    -o-transition: linear   0.3s;
   
}
nav ul li a {
	 -webkit-transition: linear 0.3s;
	transition: linear 0.3s;
	-moz-transition: linear  0.3s;
    -o-transition: linear   0.3s;
    
}
nav ul li:hover { 
    color:red;
}

.main {
	display: inline-block;
}

.main ul li {
	padding: 0 10px;
}

.languages {
	float: right;
	margin: 0 40px 0 0;
	
}
.languages ul li {
	padding: 0 10px;
}
.name {
	font-size:36px;

}
.bild {
	text-align: center;
}
.bild img {
	height: 500px;
}


.jcrop-holder #preview-pane {
  display: block;
  position: absolute;
  z-index: 2000;
  top: 10px;
  right: -280px;
  padding: 6px;
  border: 1px rgba(0,0,0,.4) solid;
  background-color: white;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

/* The Javascript code will set the aspect ratio of the crop
   area based on the size of the thumbnail preview,
   specified here */
#preview-pane .preview-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
